name: Format Code

on: [workflow_dispatch]

jobs:
  format:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3.5.2
      - name: Format Code C++
        run: |
          git config --global user.email "ikomangwidiadaariasa12@gmail.com"
          git config --global user.name "AriasaProp"
          sudo apt-get install -y clang-format
          find . -name "*.cpp" -o -name "*.hpp" | xargs clang-format -i
          git add .
          git commit -m "Reformatting cpp"
          git push
      - name: Setup JDK 17
        uses: actions/setup-java@v3.11.0
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: 'gradle'

      - name: Format Java Code
        uses: axel-op/googlejavaformat-action@v3.6.0
        with:
          files: "android/src/**/*.java"
          args: "-r -a --fix-imports-only"